/* 

1. Padrões da página
2. Fontes
3. Grid
4. Conteúdo da página
5. Media queries
6. Animações

*/


/* 1. Padrões */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --color-white: #FFFFFF;
  --color-white-10: hsl(196, 100%, 98%);
  --color-opacity: hsla(0, 0%, 100%, 0.2);
  --color-light-green: hsl(195, 46%, 40%);
  --color-dark-green: hsl(195, 91%, 25%);
  --color-text-h: #202024;
  --color-text-p: #121214;
}

html{
  background: var(--color-white-10);
}

/* 2. Fontes */
body,
a,
input,
input::placeholder{
  color: var(--color-white);
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.container a{
  text-decoration: none;
}

main .title-wrapper,
aside h2{
  color: var(--color-text-h);

  font-size: 1.5rem;
}

aside .title-wrapper h3{
  color: var(--color-text-h);

  font-size: 1.125rem;
}

main p{
  color: var(--color-text-p);
}

.related-article p{
  font-size: 0.875rem;
}

/* 3. Grid da página */
#app{
  height: 100dvh;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

/* 4. Conteúdo da página */
.container{
  width: min(90rem, 90%);
  margin: 0 auto;
}

header{
  background: var(--color-dark-green);

  padding: 12px 0;
}

header .container,
footer .container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

header .container img{
  border-radius: 50%;

  width: 42px;
  height: 42px;
}

header .container a img{
  display: flex;

  align-items: center; 
}

header .container form{
  flex: 1;
}

header .container input{
  background: var(--color-opacity);

  border: none;
  border-radius: 4px;

  width: 100%;

  padding: 12px 16px 12px 14px;
}

header .container label{
  width: 1px;
  height: 1px;

  position: absolute;
  overflow: hidden;
  
}

main{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem 0;
}

.title-wrapper{
  display: flex;
  flex-direction: column;

  gap: 8px;

  margin: 2rem 0;
}

.title-wrapper button{
  background: var(--color-dark-green);

  border-radius: 50%;
  border: none;

  padding: 12px;
}

.button-wrapper{
  display: flex;
  gap: 12px;
}

.main-article figure img{
  border-radius: 5px;

  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;

  display: block;
}

.item img:hover{
  filter: hue-rotate(7deg) contrast(102%) saturate(200%);
}

aside{
  margin-bottom: 2rem;
}

.item{
  display: flex;
  margin-top: 2rem;

  overflow: hidden;
}

.item img{
  border-radius: 5px;

  width: 9rem;
  height: 84px;
  aspect-ratio: 16/9;
  object-fit: cover;

  transition: .4s linear;
}

.item img:hover{
  filter: hue-rotate(7deg) contrast(102%) saturate(200%);
}

.details{
  background: var(--color-white-10);

  padding-left: 1rem;

  position: relative;
  z-index: 1;
}

.related-article .title-wrapper{
  margin: 0;
}

footer{
  background: var(--color-light-green);
}

footer .container{
  padding: 1rem;
}

/* 5. Media queries */

@media (min-width: 1024px) {
  #app{
    height: 100vh;

    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer'
    ;
  }

  .container{
    width: min(90rem, 90%);
    margin: 0 auto;
  }

  header{
    grid-area: header;
  }

  main{
    grid-area: main;

    flex-direction: row;
  }

  .title-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }

  .main-article{
    width: 70%;
  }

  aside{
    width: 40%;
  }

  footer{
    grid-area: footer;
  }
}

/* 6. Animações */

.item{
  --delayCard: .4s;
  animation: appear 2s var(--delayCard) backwards linear;
}

@keyframes appear {
  0%{
    opacity: 0;
  }
}
